<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!-- New test results search configuration -->
    <!-- Files extension for search -->
    <add key="FilesExtension" value="trx" />
    <!-- Path to test results folder" -->
    <add key="TestResultsDir" value="\\w10x64-29\Test Results\CI" />
    <!--add key="TestResultsDir" value="\\10.40.5.8\TestResults\CI\10_23_2018" /-->
    <add key="CIgroupsList" value="CEP CM_1,CEP Help_1,CEP Help_2,CEP Mixed_1,CEP Shop AQL_1," />
    <add key="TableHeader" value="QA_Client,CI Group,Test name,Build Version,Passed,Failed,Skipped,Result" />
    <!-- DateTime format for notifications -->
    <add key="DateTimeFormat" value="MM_dd_yyyy" />
    <!-- Test results file location -->
    <add key="ReportFolder" value="C:\CI_Reports" />
    <add key="ReportFileExtension" value="csv" />
  </appSettings>
</configuration>